<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mssinfotech.iampro.co">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/iampro"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iampro"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".user.EditProfileActivity"
            android:label="@string/edit_profile" />
        <activity
            android:name=".user.JoinedFriendsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.ProfileImageCroperActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.FriendRequestActivity"
            android:label="@string/friend_request" />
        <activity
            android:name=".user.MyWhishlistActivity"
            android:label="@string/whishlist_title" />
        <activity
            android:name=".user.MyPurchsaeActivity"
            android:label="@string/my_purchase" />
        <activity
            android:name=".user.MySellingActivity"
            android:label="@string/my_sell" />
        <activity
            android:name=".user.ChangePasswordActivity"
            android:label="@string/change_password" />

        <service
            android:name=".services.ScheduledService"
            android:enabled="true"
            android:icon="@drawable/iampro"
            android:label="@string/app_name" />

        <receiver android:name=".utils.IncomingSms">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name"/>
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoadingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForgetActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IntroActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OtpForgetActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OtpRegistrationActivity" />
        <activity
            android:name=".user.AddImageActivity"
            android:label="Add Image"
            android:parentActivityName=".user.MyImageActivity" />
        <activity
            android:name=".user.AddVideoActivity"
            android:label="Add Video"
            android:parentActivityName=".user.MyVideoActivity" />
        <activity
            android:name=".user.AddProductActivity"
            android:label="Add Product"
            android:parentActivityName=".user.MyProductActivity" />
        <activity
            android:name=".user.AddProvideActivity"
            android:label="Add Provide"
            android:parentActivityName=".user.MyProvideActivity" />
        <activity
            android:name=".user.AddDemandActivity"
            android:label="Add Demand"
            android:parentActivityName=".user.MyDemandActivity" />
        <activity
            android:name=".user.MyImageActivity"
            android:label="My Image&apos;s"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.MyVideoActivity"
            android:label="My Video&apos;s"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.MyProductActivity"
            android:label="My Product&apos;s"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.MyProvideActivity"
            android:label="My Provide&apos;s"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.MyDemandActivity"
            android:label="My Demand&apos;s"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/search_title" />
        <activity
            android:name=".CartActivity"
            android:label="@string/cart_title" />
        <activity
            android:name=".NotificationActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/notifications_title" />
        <activity
            android:name=".MessageActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/message_title" />
        <activity android:name=".demand.DemandDetail" />
        <activity
            android:name=".product.ProductDetail"
            android:theme="@style/Base.MyTheme" />
        <activity
            android:name=".provide.ProvideDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".image.ImageDetail" />
        <activity android:name=".CommentActivity"></activity>
    </application>

</manifest>