<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mssinfotech.iampro.co">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/iampro"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iampro"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".user.JoinedFriendsActivity"></activity>
        <activity android:name=".user.FriendRequestActivity" />
        <activity android:name=".user.MyWhishlistActivity" />
        <activity android:name=".user.MyPurchsaeActivity" />
        <activity android:name=".user.MySellingActivity" />
        <activity android:name=".user.ChangePasswordActivity" />

        <service
            android:name=".services.ScheduledService"
            android:enabled="true"
            android:icon="@drawable/iampro"
            android:label="@string/app_name" />

        <receiver android:name=".utils.IncomingSms">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoadingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForgetActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IntroActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OtpForgetActivity"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".OtpRegistrationActivity"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".user.AddImageActivity"
            android:label="Add Image"
            android:parentActivityName=".user.MyImageActivity" />
        <activity
            android:name=".user.AddVideoActivity"
            android:label="Add Video"
            android:parentActivityName=".user.MyVideoActivity" />
        <activity
            android:name=".user.AddProductActivity"
            android:label="Add Product"
            android:parentActivityName=".user.MyProductActivity" />
        <activity
            android:name=".user.AddProvideActivity"
            android:label="Add Provide"
            android:parentActivityName=".user.MyProvideActivity" />
        <activity
            android:name=".user.AddDemandActivity"
            android:label="Add Demand"
            android:parentActivityName=".user.MyDemandActivity" />
        <activity
            android:name=".user.MyImageActivity"
            android:label="My Image&apos;s"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.MyVideoActivity"
            android:label="My Video&apos;s"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.MyProductActivity"
            android:label="My Product&apos;s"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.MyProvideActivity"
            android:label="My Provide&apos;s"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.MyDemandActivity"
            android:label="My Demand&apos;s"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".MessageActivity" />
    </application>

</manifest>